### Java / Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

### Spring Boot / debug artifacts ###
BOOT-INF/
effective-pom
effective-pom.xml

### Logs ###
*.log
hs_err_pid*
replay_pid*

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

### OS ###
.DS_Store
Thumbs.db
Desktop.ini
